table.users_table {
  width: 80%;
  border-collapse: collapse;
}

.error {
  background-color: #c66a00;
  border-radius: 4px;
  padding: 10px 20px;
}

th {
  font-weight: bold;
  padding: 10px;
}

td {
  padding: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  button {
    margin: 0 2px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
